[submodule "IndustrialPark"]
	path = inc/IP_src
	url = https://github.com/Cyb3RGER/IndustrialPark/tree/IP_as_lib_for_ap
[submodule "wwrando"]
	path = inc/wwrando
	url = https://github.com/Cyb3RGER/wwrando/tree/gcm
